<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CareLite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body ng-app="Search" ng-controller="SearchCtrl">
<div class="container" style="margin-top: 30px; align-content: center">
    <div class="form-row align-items-center">
        <div class="col-7">
            <label class="sr-only" for="searchField">Search</label>
            <input type="text" class="form-control mb-2" id="searchField" ng-model="searchField" placeholder="Search">
        </div>
        <div class="col-auto">
            <button ng-click="search()" class="btn btn-primary mb-2">Search</button>
        </div>
        <div class="col-auto">
            <button ng-click="clearSearchField()" class="btn btn-primary mb-2">Clear</button>
        </div>
        <div class="col-auto">
            <button ng-click="findAll()" class="btn btn-primary mb-2">All</button>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Search results</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Currency</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in results">
                            <td>{{item.category}}</td>
                            <td>{{item.brand}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.currency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/angular.min.js"></script>
<script type="text/javascript" src="js/search.js"></script>
</body>
</html>